body * {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    color: #FFFFFF;
    background-color: #191919;
    box-shadow: 0 2px 5px #00000025;
    font-weight: 200;
}

.fa-user-astronaut {
    margin-right: 10px;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
    transition: all .5s;
}

.nav-link:hover {
    letter-spacing: .4rem;
}

.nav-about {
    letter-spacing: .15rem;
}

header {
    background-color: #272727;
    background-image: linear-gradient(to right, rgba(25, 25, 25, 1), rgba(36, 43, 72, 0.4)), url(/APODexplorer/assets/og-image.jpg);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    min-height: 80vh;
    padding: 20vh 20px 20px 10%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px #00000025;
}

/* .headings {
    color: #ffffff;
} */

.headings h1 {
    font-size: 2.5em;
}

.word-1 {
    color: #FF4420;
    font-weight: 700;
    font-family: 'Audiowide', cursive;
}

.word-2 {
    color: #FFFFFF;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .25rem;
}

.subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    letter-spacing: .1rem;
    color: #FFFFFF;
}

.feed-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.apod-feed {
    list-style: none;
    width: 100%;
    padding: 0;
}

.apod-card {
    width: 100%;
    margin: 20px 0 40px 0;
    box-shadow: 0 0 5px #00000045;
    border-radius: 5px;
}

.imgBox {
    width: 100%;
    text-align: center;
}

.apod-media {
    max-width: 100%;
    max-height: 80vh;
    box-shadow: 0 2px 5px #00000055;
}

.apod-title, .apod-date {
    text-align: center;
    width: 97%;
    margin: 2px auto;
    padding: 15px;
    background-color: #003e93;
    box-shadow: 0 2px 5px #00000025;
    color: #FFFFFF;
    letter-spacing: .2rem;
    font-size: 1.2em;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

.apod-date {
    background-color: #363537;
}

.error-banners {
    padding: 20px;
}

.error-icon {
    margin-right: 10px;
}

.apod-details-main {
    width: 97%;
    margin: 2px auto;
    padding: 10px;
    line-height: 1.25;
    color: #4b4e52;
}

.apod-author {
    text-transform: uppercase;
    letter-spacing: .15rem;
    color: grey;
    font-size: 14px;
}

.load-more-btn {
    display: block;
    width: 200px;
    padding: 15px 10px;
    margin: 30px auto 40px auto;
    background-color: #FF4420;
    color: white;
    border: none;
    border-radius: 2px;
    box-shadow: 4px 4px 10px #00000058;
    font-size: 1.4em;
    letter-spacing: .15rem;
    transition: all .3s;
}

.load-more-btn:hover {
    background-color: #003e93;
    cursor: pointer;
    box-shadow: 2px 2px 5px #2727275F;
}

.about-main {
    padding: 20px;
}

.about-main>section {
    margin: 30px auto 50px auto;
    max-width: 500px;
}

.about-link {
    display: inline-block;
    padding: 10px;
    background-color: #4b4e52;
    color: white; 
    border: none;
    border-radius: 2px;
    box-shadow: 4px 4px 10px #27272755;
    transition: all ease-out .3s;
}

.about-link:hover {
    background-color: #FF4420;
    box-shadow: 2px 2px 5px #2727275F;
}

.about-link-icon {
    margin-left: 10px;
}

.social-media {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
    width: 70%;
    margin: 0 auto;
	font-size: 1.25em;
}

.social-icon {
    color: #363537;
	transition: all .3s;
}

.social-icon:hover {
    font-size: larger;
}